body {
    background-color: white;
    font-family: 'Sofia Sans', sans-serif;
    color: #212121;
  }

/** Navbar **/
#nav-bar {
	left: 0%;
	right: 0%;
	background-color: white;
	position: fixed;
	top: -70px;
	display: block;
	transition: top 0.4s;
	box-shadow: 2px 2px 5px #aaaaaa;
	z-index: 1;
}

.nav-item:first-child {
	float: left;
	font-weight: 500;
}

.nav-item {
	color: #2a2d34;
	float: right;
	display: block;
	text-align: center;
	padding: 22px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
}

.nav-item:hover {
	color: #2a2d34;
	transition: 0.5s;
}


.nav-item:hover:after {
  transform: scaleX(1);
}

.nav-item::after {
  display:block;
  content: '';
  border-bottom: solid 3px #d3cbf5;  
  transform: scaleX(0);  
  transition: 350ms ease-in-out;
  transform-origin: 0% 50%;
}

.page-container {
  width: 80%;
  margin: auto;
  margin-top: 5rem
}

.landing-section {
  width: 80%;
  margin: auto;
  margin-top: 5rem
}

.projects-section {
  width: 80%;
  margin: auto;
  margin-top: 5rem
}

.footer {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  text-align:center  
}

  /*

  
  .picture {
    width: 300px;
    border: 1px solid #F8F6F0;
    border-radius: 10px;
    cursor: pointer;
    object-fit: contain;
    aspect-ratio: 1;
  }
  
  -- shrink image on hover 
  .picture:hover {
    filter: brightness(80%);
    transform: scale(0.97);
    transition: 0.3s
  }
  
  .header {
    color: #be3455;
  }
  
  .header:hover {
    color:#F8F6F0;
    background-color: #be3455;
    transition: 0.4s;
  }
  
  .picture-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 16px;
  }
  
  .image-title {
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
    background-color: #be3455;
    color: #F8F6F0
  }
  
  .intro {
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .chunk-container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .chunk-box {
    margin-left: 2rem;
    margin-right: 1rem;
  }
  

  */