@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Variables */
:root {
  --font-family: "Noto Sans", sans-serif;
  --headline-font-family: "Sofia Sans", sans-serif;
  --secondary-font-family: "Noto Sans Mono", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  /* --bg-color: #fcfcfc; */
  --bg-color: #fafafa;
  --primary-color: #2a2d34;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --bottom-margin-3: 2rem;
  --div-margin: 5rem auto 4rem;
  --img-margin: 2rem auto;
  --section-margin: 6rem auto;
  --line-height: 1.7;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* --------------------------------------------- CSS RESETS --------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-size: 55px;
  color: #d3cbf5;
  margin-bottom: var(--bottom-margin-2);
  font-family: var(--headline-font-family);
  font-weight: var(--bold-font);
}

h2 {
  font-size: 40px;
  margin-bottom: var(--bottom-margin-3);
  font-family: var(--headline-font-family);
  margin-top: 10px;
  font-weight: var(--bold-font);
}

h3 {
  font-size: 26px;
  font-family: var(--headline-font-family);
  margin-bottom: var(--bottom-margin-2);
  font-weight: var(--bold-font);
}

p {
  font-size: 1em;
  line-height: var(--line-height);
}

h3.secondary {
  font-family: var(--secondary-font-family);
  color:#b3b3b3;
  margin-bottom: var(--bottom-margin-3);
} 

p.subheader {
  font-weight: var(--bold-font);
  font-size: 1.2em;
}

p.secondary {
  font-family: var(--secondary-font-family);
  color:#b3b3b3;
  margin-bottom: var(--bottom-margin-2);
  line-height:normal;
  font-size: 1.2em;
}

a.secondary {
  font-family: var(--secondary-font-family);
}

span.markup {
  background-color: #F5EFFF;
}

.underline {
  text-decoration: underline;
}

.link:hover {
  color: #d3cbf5;
  text-decoration: underline;
  transition: 0.2s;
}

body {
  font-family: var(--font-family);
  /*font-family: monospace;*/
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* --------------------------------------------- NAV BAR ----------------------------------------------------------------------------*/
/* nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
} 

nav a.home-item {
  font-weight: var(--bold-font);
}

nav a.home-item:hover {
  color: #d3cbf5;
}

ul.nav-bar li a.active {
  color: #d3cbf5;  
  // border-bottom: solid 3px #d3cbf5; 
}

ul.nav-bar li a {
  text-decoration: none;
  position: relative;
  width: fit-content;
  block-size: fit-content; 
  margin-bottom: var(--bottom-margin);
}

ul.nav-bar li a::before, ul.nav-bar li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  border-top-width: 3.5px;
  border-top-color: #d3cbf5;
} 

ul.nav-bar li a::before {
  width: 100%;
}

ul.nav-bar li a::after {
  border-top-style: solid;
  width: 0;
  transition: width .2s ease;
}

ul.nav-bar li a:hover::after {
  width: 100%;
  transition: 0.5s; 
}

*/
/* .navbar {
  background-color: var(--bg-color);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
} */

#navbar-scroll-down {
  background-color: var(--bg-color);
  position: fixed;
  top: -100px;
  width: 100%;
  transition: top 0.3s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  /* padding: 1.5rem 3.5rem; */
  padding: 0.5rem;
}

#navbar {
  background-color: var(--bg-color);
  /* background-color: transparent; */
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  /* padding: 1.5rem 3.5rem; */
  padding: 0.5rem;
}

.navbar-right {
  display: flex;
  float: right;
  /* gap: 2rem; */
}

#navbar a, #navbar-scroll-down a {
  float: right;
  color: var(--primary-color);
  display: block;
  text-align: center;
  padding: 1.2rem;
  text-decoration: none;
  font-weight: var(--bold-font);
  border-radius: 2ch;
}

#navbar a.home-item, #navbar-scroll-down a.home-item {
  float: left;
  display: block;
  color: var(--primary-color);
  text-align: center;
  padding: 1.2rem;
  text-decoration: none;
  font-weight: var(--bold-font);
  border-radius: 2ch;
}

#navbar a.home-item:hover, #navbar-scroll-down a.home-item:hover {
  color: #d3cbf5;
  /* background-color: #ebedf2; */
  transition: 0.3s;
}

#navbar a.active, #navbar-scroll-down a.active {
  color: #d3cbf5;  
}

/* #navbar a.nav-item:hover, #navbar-scroll-down a.nav-item:hover {
  background-color: #ebedf2;
  transition: 0.3s;
} */

/* 
   underline hover left to right
   source: https://averyykyler.medium.com/left-to-right-underline-effect-using-css-e9aa2c5dea1e 
*/ 
a.nav-item {
  position: relative;
}

a.nav-item::before, a.nav-item::after {
  content: "";
  position: absolute;
  bottom: 1.1rem;
  left: 0.6rem;
  border-top-width: 3.5px;
  border-top-color: #d3cbf5;
}

a.nav-item::before {
  width: 80%;
  /* border-top-style: dotted; */
}

a.nav-item::after {
  border-top-style: solid;
  width: 0;
  transition: width .2s ease;
}

a.nav-item:hover::after {
  width: 80%;
  transition: 0.5s;
}



/* .navbar .nav-item {
  float: right;
  display: block;
  color: var(--primary-color);
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
  font-weight: var(--bold-font);
  position: relative;
  width: fit-content;
  block-size: fit-content; 
}



.navbar .home-item:hover {
  color: #d3cbf5;
}

.navbar a.active {
  color: #d3cbf5;  
} */

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* 
   underline hover left to right
   source: https://averyykyler.medium.com/left-to-right-underline-effect-using-css-e9aa2c5dea1e 
*/ 
/* .navbar a.nav-item::before, .nav-bar a.nav-item::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  border-bottom-width: 3.5px;
  border-bottom-color: #d3cbf5;
} 

.navbar a.nav-item::before {
  width: 100%;
}

.navbar a.nav-item::after {
  border-bottom-style: solid;
  width: 0;
  transition: width .2s ease;
}

.nav-bar a.nav-item:hover::after {
  width: 100%;
  transition: 0.5s; 
} */

/* --------------------------------------------- HERO -----------------------------------------------------------------------------*/
.hero {
  max-width: 70%;
  margin: var(--div-margin);
  width: 100%;
}

.home-page {
  height: 80vh;
}

.hero-container {
  margin: 5rem auto 3rem;
}

.hero-container.hello {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.hero img {
  height: 25rem;
  border-radius: 2rem;
}

/* typing carousel */
.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
  
.txt-rotate {
  margin-left: 4px;
}

.input-cursor {
  display: inline-block;
  width: 2px;
  background-color: #2a2d34;
  height: 20px;
  margin-left: 2px;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

.home-bio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 55%;
  padding: 0rem 3rem;
  gap: 1rem;
}

.bio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding: 0rem 3rem;
}

.bio-container {
  display: flex;
  padding: 2rem 0rem;
  gap: 2rem;
}

/*
.hero h1 {
  margin-bottom: var(--bottom-margin);
}

.hero h2 {
  margin-bottom: var(--bottom-margin-2);
}*/

.bio p {
  line-height: var(--line-height);
  margin-bottom: var(--bottom-margin-2);
  padding: 0.3rem 0;
}

button {
  border: 1px solid #b3b3b3;
  background-color: var(--bg-color);
  color: #a786db;
  border-radius: 2rem;
  padding: 8px 32px;
  cursor: pointer;
  font-size: 16px;
  max-width:15em;
  font-family: var(--font-family);
}

button:hover {
  border: 1px solid #d3cbf5;
  background-color: #d3cbf5;
  transition: 0.4s;
} 

.grid-container {
  display: grid;
  gap: 10px;
  max-width: 70rem;
  grid-template-columns: 36.5% 55%;
  /*
  max-width: 70%;
  grid-template-columns: 22rem 39rem;*/
  align-items: baseline;
}

/*
.about-container {
  display: flex;
  gap: 13rem;
}

.grid-container {
  display: grid;
  gap: 10px;
  max-width: 70rem;
  grid-template-columns: 20rem 45rem;
  align-items: baseline;
}
*/

.bio-list {
  margin-bottom: 5rem;
}

.bio-grid h3 {
  margin-bottom: 2rem;
}

.bio-list li {
  line-height: var(--line-height);
  margin: 10px 0;
}

.bio-list a.link {
  /* text-decoration: underline; */
  margin-bottom: var(--bottom-margin);
}

.scroll-down {
  display: flex;
  font-size: x-large;
  justify-content: center;
  width: 100%;
  margin: 3rem auto;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.scroll-down:hover {
  color: #8b8eaf;
}

/* --------------------------------------------- PROJECTS --------------------------------------------------------------------*/
.projects {
  background-color: var(--bg-color);
  margin: var(--div-margin);
  width: 100%;
  padding: 7rem 15% 3rem;
}

.project-container {
  display: flex;
  padding: 2rem 0rem;
  gap: 5rem;
  margin: var(--div-margin);
}

.project-img {
  width: 400px;
  height: 400px;
  border-radius: 2rem;
}

.project-info {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* 
   underline hover left to right
   source: https://averyykyler.medium.com/left-to-right-underline-effect-using-css-e9aa2c5dea1e 
*/ 
.project-title {
  font-size: 50px;
  color: #2a2d34;
  text-decoration: none;
  position: relative;
  width: fit-content;
  block-size: fit-content; 
}

.project-img:hover {
  filter: brightness(90%);
  transform: scale(0.97);
  transition: 0.3s
}

/* Hover
.project-title::before, .project-title::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  border-top-width: 5px;
  border-top-color: #d3cbf5;
} 

.project-title::before {
  width: 100%;
}

.project-title::after {
  border-top-style: solid;
  width: 0;
  transition: width .2s ease;
}

.project-title:hover::after {
  width: 100%;
  transition: 0.5s; 
}
*/

.project-sponsor {
  line-height: var(--line-height);
}

.project-paragraph {
  line-height: var(--line-height);
}

button .button{
  border: 1px solid #b3b3b3;
  background-color: var(--bg-color);
  color: #a786db;
  border-radius: 2rem;
  padding: 8px 32px;
  cursor: pointer;
  font-size: 16px;
  max-width:20em;
}

button .button:hover {
  border: 1px solid #d3cbf5;
  background-color: #d3cbf5;
  transition: 0.4s;
} 

/* Projects 
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

*/

/* --------------------------------- PASSWORD PROTECTED CASE STUDY --------------------------------------------------------------------*/
div.password-protected-content h2 {
  color: #2a2d34;
}

h1.password-protect:hover {
  cursor: pointer;
}

.password {
  max-width: 70%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.password-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* align-items: center; */
  /* max-width: 70rem; */
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 60%;
}

.password-prompt {
  margin-bottom: 3rem;
}

.checkbox {
  display: flex;
  gap: 4px;
  margin-bottom: 2rem;
}

input {
  border:none;
  border-bottom: 2px solid #a786db;
  font-size:20px;
  padding: 12px;
  background-color: #fcfcfc;
}

/* 
Overlay from w3 Schools
Source: https://www.w3schools.com/howto/howto_css_overlay.asp
*/
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fcfcfc; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  align-items:center;
}

.close-overlay {
  position: fixed;
  right: 4%;
  top: 5%;
  cursor: pointer;
  font-size: x-large;
  z-index: 2;
}

i.close-overlay:hover {
  color: #8b8eaf;
}

/* --------------------------------------------- DESIGN PHILOSOPHY --------------------------------------------------------------------*/
.design-philosophy {
  max-width: 70%;
  margin: var(--div-margin);
  width: 100%;
}

/* --------------------------------------------- FOOTER --------------------------------------------------------------------*/
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  bottom: 0;
  text-align: center;
  margin: 2rem 0 0;
}

footer .footer-copy {
  color:#b3b3b3;
  margin: auto;
}

footer .footer-icon {
  padding: 0.5rem;
}

footer .footer-icon:hover {
  color: #8b8eaf;
}

footer .footer-links {
  margin: auto;
  padding: 2rem;
}

footer p.secondary {
  font-size: 1em;
}

/* Scroll Up */
.scroll-up {
  position: fixed;
  right: 1%;
  bottom: 3%;
  cursor: pointer;
  font-size: x-large;
}

i.scroll-up:hover {
  color: #8b8eaf;
}

/* --------------------------------------------- CASE STUDIES --------------------------------------------------------------------*/
/* -- UW CERSE -- */
/* project image section */
.project-image-section {
  max-width: 70%;
  margin: 5rem auto 6rem;
  width: 100%;
}

/* overview section */
.overview-section {
  margin: var(--section-margin);
  width: 100%;
  padding: 3rem 15%;
  background-color: var(--bg-color); 
}

/* impact section */
.impact-section {
  max-width: 70%;
  margin: var(--section-margin);
  width: 100%;
}

.project-context-container {
  display: flex;
}

.project-context-container ul li {
  line-height: var(--line-height);
}

.project-context {
  width: 33.33%;
}



h1.case-study-title {
  color: #d3cbf5;
  margin-bottom: 0;
}

.project-overview {
  margin: var(--div-margin);
} 

.project-image {
  max-width: 100vw;
}

.project-overview-container {
  display: flex;
  gap: 5em;
}

.lsamp-image {
  border-radius: 2ch;
}

p.image-caption {
  color: #b3b3b3;
  font-style:italic;
  font-weight: 300;
  font-size: 13px;
  line-height: normal;
  text-align: center;
}

.design-q {
  font-size: 26px;
  line-height:1.7em;
  border-left: 3px solid #b3b3b3;
  padding-left: 2rem; 
}

.deliverable-container {
  /* display: grid;
  gap: 4.5rem;
  grid-template-columns: 45% 45%;
  margin: 0rem auto 3rem;
  align-items: center; */
  display: grid;
  gap: 5.5rem;
  /* max-width: 70rem; */
  grid-template-columns: 40% 45%;
  margin: 0rem auto 3rem;
  align-items: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

iframe.product-video {
  border: none;
}

/* discovery section */
.discovery-section {
  margin: var(--section-margin);
  width: 100%;
  padding: 3rem 15%;
  background-color: var(--bg-color); 
}

.research-goals-list {
  margin: 0rem auto 3rem;
  display: flex;
  gap: 5rem;
}

.research-goal {
  width: 33.33%
}

.two-column {
  margin: var(--div-margin);
  display: flex;
  gap: 5rem;
}

.no-bottom-margin {
  /* margin: 3rem auto 0rem;
  display: flex;
  gap: 5rem; */
  border-bottom: none;
}

.column-header {
  font-size: 18px;
  font-weight: var(--bold-font);
  margin-bottom: 0.5rem;
}

.two-img-container {
  display: flex;
  margin: var(--div-margin);
  justify-content: space-evenly;
}

/* flip image
Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_image2 */
.flip-image {
  background-color: transparent;
  /* border: 1px solid #f1f1f1; */
  width: 600px;
  height: 375px;
  /* perspective: 1000px; */
}

.flip-image-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-image:hover .flip-image-inner {
  transform: rotateY(180deg);
}

.flip-image-front {
  position: absolute;
  width: 100%;
  height: 100%;
  width: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.flip-image-back {
  padding: 3rem;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .flip-image-front {
  background-color: #bbb;
  color: black;
} */

.flip-image-back {
  background-color: #e6eaec;
  color: #2a2d34;
  transform: rotateY(180deg);
  border-radius: 2ch;
  width: 500px;
  height: 375px;
}

.interview {
  width: 400px;
  height: 420px;
}

.interview-image {
  width: auto;
  height: 400px;
  border-radius: 2ch;
}

div.column {
  width: 50%;
}

/* bento box
Source: https://codepen.io/stoumann/pen/GRzWVjZ
*/
.bento-box {
  display: grid;
  gap: 2ch;
  margin: var(--div-margin);
  & > * {
    background: var(--bg, #e6eaec);
    border-radius: 2ch;
    color: hsl(215, 75%, 10%);
    container-type: inline-size;
    grid-column: var(--gc, auto);
    grid-row: var(--gr, auto);
    padding: 2ch;
    & h2 {
      margin-block: 0 1ch;
    }
  }
}

.survey-image {
  border-radius: 1ch;
  object-fit: contain;
}

.bento {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bento-hotdog {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.bento-hamburger {
  width: 100%;
  height: 370px;
}

.hotdog {
  height: 95%;
  /* width: 95%; */
}

.hamburger {
  /* min-height: 60%; */
  width: 95%; 
  /* height: 95%; */
}

div.div {
  margin: var(--div-margin);
}

.competitive-analysis-container {
  margin: var(--div-margin);
  display: flex;
  justify-content: center;
}

.competitive-analysis-image {
  width: 700px;
  height: auto;
  border-radius: 2ch;
}

.comp-analysis {
  width: 700px;
  height: 500px;
}

/* responsive bento box */
@media (min-width: 768px) {
  .bento-box { grid-template-columns: repeat(7, 1fr); }
  .bb3 { --gc: span 4; --gr: span 2; }
  .bb4 { --gc: span 3; --gr: span 2; }
  .bb1 { --gc: span 3; --gr: span 2; }
  .bb2 { --gc: span 4; --gr: span 2; }
  /* .bento-hotdog {height: 370px;}
  .bento-hamburger {height: 370px}
  .hotdog {width: 340px;}
  .hamburger {width: 470px;} */
  }

  /* .deliverable-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  } */


/* findings section */
.findings-section {
  max-width: 70%;
  margin: var(--section-margin);
  width: 100%;
}

.findings-recommendations-grid {
  margin: var(--div-margin);
}

.findings-container, .recommendations-container {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px dashed #b3b3b3;
}

.findings-recommendations-container {
  display: flex;
  gap: 5rem;
}

.border-top {
  margin-top: 6rem;
  border-top: 2px dotted #d3cbf5;
  padding: 3rem 0 0;
}

.no-bottom-border {
  border-bottom: none;
  /* padding-bottom: 0; */
  margin-bottom: 0;
}

/* ideation section */
.ideation-section {
  max-width: 70%;
  margin: var(--section-margin);
  width: 100%;
}

/* 
  Slideshow

*/ 
.slideshow-image {
  width: 600px;
  height: auto;
}

ul.list {
  list-style-type: disc;
  margin: 0 2rem;
}

ol.list {
  margin: 0 2rem;
}

ul.list li, ol.list li {
  line-height: var(--line-height);
}

.brainstorm-image {
  width: 600px;
  max-width: 70vw;
  border-radius: 2ch;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-margin {
  margin: var(--img-margin);
}

/* iteration section */
.iteration-section {
  max-width: 70%;
  margin: var(--section-margin);
  width: 100%;
}

.usability-test {
  padding-left: 2rem;
}

.usability-test-image {
  height: 70vh;
  width: auto;
  max-height: 70vh;
  border-radius: 2ch;
}

.prototype-screen-image {
  width: 100%;
}

/* slider 
  Source: https://www.youtube.com/watch?v=dzqDU9efnnk&t=286s
  Source: https://codepen.io/Coding-in-Public/pen/NWyjZwO
*/
.slider-container {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 70%;
  display: grid;
  place-content: center;
  position: relative;
  /* overflow: hidden; */
  border-radius: 2ch;
  --position: 50%;
  padding: 0;
}

.slider-image-container {
  max-width: 100%;
  max-height: 90vh;
}

.slider-image {
  /* width: 1000px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: left; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
  height: 100%;
  /* height: 100%; */
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for firefox */
  width: 100%;
  height: 100%;
  padding: 0;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: 0.3rem;
  height: 100%;
  background-color: #2a2d34;
  z-index: 0;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button i.slider-button {
  position: absolute;
  /* background-color: #fafafa; */
  padding: .5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
  color: #2a2d34;
}

/* reflection section */
.reflection-section {
  max-width: 70%;
  margin: var(--section-margin);
  width: 100%;
}

.reflections {
  display: flex;
  gap: 5rem;
}

ul.key-takeaways {
  margin-bottom: 3rem;
}

.team-picture-image {
  height: 70vh;
  width: auto;
  max-height: 70vh;
  border-radius: 2ch;
}

/* --------------------------------------------- RESPONSIVE LAYOUT --------------------------------------------------------------------*/
@media screen and (max-width: 720px) {
  /* h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 20px;
  } */

  nav {
    padding: 1.5rem 1.5rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 90px;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
    padding: 2rem;
    gap: 2rem;
  }

  nav ul li {
    margin: 8px 40%;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .scroll-up {
    right: 2%;
  }

  /* CASE STUDY */
  .project-context-container {
    flex-direction: column;
  }

  .project-context {
    width: 100%;
    margin-bottom: 2rem;
  }

  .deliverable-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  iframe.product-video {
    width: fit-content;
    height: auto;
  }

  /* .bento-box {
    display: none;
  } */
  .two-column {
    flex-direction: column;
  }

  div.column, .column {
    width: 100%;
  }

  .comp-analysis, .competitive-analysis-image {
    max-width: 70vw;
  }
  
  .findings-recommendations-container {
    flex-direction: column;
    gap: 0;
  } /*use carousel for this in mobile screen*/
}




/*

body {
    background-color: white;
    font-family: 'Sofia Sans', sans-serif;
    color: #212121;
}

nav div {
  display: flex;
  gap: 1.9rem;
}

#nav {
	left: 0%;
	right: 0%;
	background-color: white;
	position: fixed;
	top: -70px;
	display: block;
	transition: top 0.4s;
	box-shadow: 2px 2px 5px #aaaaaa;
	z-index: 1;

}

.nav-item:first-child {
	float: left;
	font-weight: 500;
}

*/

/* Hero 

.hero {
  max-width: 70rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  /*
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: 2rem; --
}

.hero img {
  height: 20rem;
  border-radius: 10%;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

*/