/* UW CERSE */
:root {
  --font-family: "Noto Sans", sans-serif;
  --headline-font-family: "Sofia Sans", sans-serif;
  --secondary-font-family: "Noto Sans Mono", sans-serif;
  --primary-color: #2a2d34;
  --markup-color: #dbd8f3;
  --project-color: #332a86;
  --image-background-color: #eef2f8;
  --bg-color: #fafafa;
  --secondary-shadow: #b3b3b3;
  --img-margin: 3rem auto 4rem;
}

.section-regular {
  margin: auto;
  padding: 2rem 0 2rem;
}

.project-image-section {
  padding: 5rem 0 0;
}

.section-bg-color {
  padding-top: 6rem;
}

.section-bg-color {
  margin: auto;
  padding: 2rem 15% 2rem;
}

/* --------------------------------------------- OVERVIEW SECTION ---------------------------------------------------------------------- */
h1.case-study-title {
  color: var(--project-color);
}

/* --------------------------------------------- IMPACT SECTION ---------------------------------------------------------------------- */
.video-container {
  align-items: center;
}

/* --------------------------------------------- DISCOVERY SECTION ------------------------------------------------------------------- */
.research-goals-list {
  margin: 0rem auto 3rem;
  display: flex;
  gap: 5rem;
}

.research-goal {
  width: 33.33%
}

.column-header {
  font-size: 18px;
  font-weight: var(--bold-font);
  margin-bottom: 0.5rem;
}

.two-img-container {
  display: flex;
  justify-content: space-evenly;
}

.findings-recommendations-container {
  align-items: start;
}

.findings-container.box {
  background-color: transparent;
  border-radius: 0; 
  margin-left: 0;
  padding-left: 0;
}

.recommendations-container.box { 
  border-bottom: none; 
  /* margin: auto;  */
}

/* 
  flip image
  Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_image2 
*/

.interview-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2ch; 
  aspect-ratio: auto;
  background-color: white;
}

.dashboard .hoverable { background-color: white; border-radius: 0; }
.dashboard p {  margin-bottom: 0; }

span.quotation {
  font-size: 2.5rem;
  font-family: var(--secondary-font-family);
  line-height: 0; 
}

.dashboard .interview-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: var(--image-background-color);
  border-radius: 2ch;
  padding: 2rem; 
}

.container:hover .interview-image-overlay {
  opacity: 1;
}

/* interview bento */
@media (min-width: 768px) {
  .dashboard { grid-template-columns: repeat(7, 1fr); }
  .interview-questions { --gc: span 4; }
  .interview-poc { --gc: span 3; }
  .quote-box { --gc: span 2; }
  .interview-rabbit-hole { --gc: span 3; }
  .interview-quote { --gc: span 2; }
}

.dashboard .list {
  padding-left: 0; 
}

.interview-poc, .interview-codebook, .interview-themes { padding: 0; }
.interview-poc, .interview-rabbit-hole, .quote-box { background-color : white; }
.quote-box p { font-size: 0.9rem; }

/* div.column {  width: 50%;} */

/* bento box
Source: https://codepen.io/stoumann/pen/GRzWVjZ
*/

.survey-insight-container { 
  display: flex;
  gap: 2rem; 
}

.survey-insight-image {
  width: 45vw;
  height: auto; 
  border-radius: 2ch; 
}

.survey-insights .bb-box {
  aspect-ratio: auto;
}

.competitive-analysis-container {
  display: flex;
  justify-content: center;
  gap: 3rem; 
}

.competitive-analysis-image {
  /* width: 800px; */
  height: auto;
  border-radius: 2ch;
  max-width: 90vw; 
}

.competitive-analysis-strength-image, .competitive-analysis-weakness-image {
  width: 600px;
  height: auto;
  border-radius: 2ch;
  max-width: 50vw; 
}

.findings-recommendations-grid .recommendations-container.box {
  background-color: var(--image-background-color);
}

/* responsive bento box */
/* @media (min-width: 768px) {
  .bento-box { grid-template-columns: repeat(7, 1fr); }
  .bb3 { --gc: span 4; --gr: span 2; }
  .bb4 { --gc: span 3; --gr: span 2; }
  .bb1 { --gc: span 3; --gr: span 2; }
  .bb2 { --gc: span 4; --gr: span 2; }
} */

/* --------------------------------------------- IDEATION SECTION --------------------------------------------------------------------- */
/* 
  Carousel
  Source: https://getbootstrap.com/docs/5.0/components/carousel/
*/ 
.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 90%;
  max-width: 70vw;
  padding: 0 8rem 4rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {  background-image: none; }
.carousel-control-prev:hover, .carousel-control-next:hover {  background-color: transparent;  border: none; }

.carousel-indicators [data-bs-target] {
  display:inline-block;
  width:16px;
  height:16px;
  margin: 0 4px;
  text-indent:-999px;
  background-color: var(--primary-color);
  border: 1px;
  border-radius:16px;
}

.brainstorm-miro-image {
  width: 600px;
  max-width: 70vw;
  border-radius: 2ch;
}

.brainstorm-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.brainstorm-grid > div.brainstorm-idea {
  transition: 50ms ease-in-out;
  /* background-color: #584952;
  border: 1px solid #e892b2; */
  /* width: 325px; */
  /* height: auto; */
  aspect-ratio: 1/1;
}

.brainstorm-idea-container { text-align: center; }
.brainstorm-grid .subheader { font-size: 1rem; margin-bottom: 0.5rem; }

.brainstorm-image {
  width: 100%;
  height: auto;
  object-fit: contain; 
  aspect-ratio: 1/1;
  border-radius: 2ch;
}

.brainstorm-idea:hover {  filter: brightness(90%); }

.brainstorm-overlay-text {
  color: var(--primary-color);
  font-size: 1rem;
  text-align: center;
}

/* --------------------------------------------- ITERATION SECTION ------------------------------------------------------------------- */  
.usability-test-image {
  height: 70vh;
  width: auto;
  max-height: 70vh;
  border-radius: 2ch;
}

.iteration-container {  display: flex; gap: 5rem; }

.iteration-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px dashed var(--secondary-shadow); */
}

.iteration-image {
  height: auto;
  border-radius: 2ch;
  max-width: 90vw; 
}

.iteration-finding-image, .iteration-updated-design-image {
  width: 600px;
  height: auto;
  border-radius: 2ch;
  max-width: 80vw; 
}

/* slider 
  Source: https://www.youtube.com/watch?v=dzqDU9efnnk&t=286s
  Source: https://codepen.io/Coding-in-Public/pen/NWyjZwO
*/
.flex-center-container {
  display: flex;
  justify-content: center;
}

.slider-container {
  /* max-width: 70vw; */
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 2ch;
  --position: 50%;
  /* padding: 0; */
}

.slider-image-container {
  max-width: 70vw;
  max-height: 65vh;
}

.slider-image-container img {
  display: block;
  max-width: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for firefox */
  width: 100%;
  height: 100%;
  padding: 0;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: 0.3rem;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 0;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button i.slider-button {
  position: absolute;
  /* background-color: var(--bg-color); */
  padding: .5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
  color: var(--primary-color);
}

#final-designs {
  max-width: 80vw;
}

.final-design-image {
  border-radius: 2ch;
  width: 55vw !important;
}

.final-design-container {
  display: flex;
  gap: 2rem; 
}


/* --------------------------------------------- REFLECTION SECTION ------------------------------------------------------------------ */
.reflections {
  display: flex;
  gap: 5rem;
}

ul.key-takeaways, ul.next-steps {
  margin-bottom: 3rem;
}

.team-picture-image {
  height: 70vh;
  width: auto;
  max-height: 70vh;
  border-radius: 2ch;
}

/* --------------------------------------------- RESPONSIVE LAYOUT --------------------------------------------------------------------*/
/*changes reflects on screen with a width of 768px and below*/
@media screen and (max-width: 768px) {
  /* tablet */
  .section-regular { max-width: 75%; }
  .section-bg-color { padding: 5rem 12% 3rem 13%;}
  .project-image-section { margin: auto !important; }

  .bb-bento-box { flex-direction: column; }
  .bb-box {  aspect-ratio: auto; }


  /* .flip-image-back { padding: 1.5rem 1rem; }
  .flip-image-back p, .flip-image-back .list li, .two-bento-box ol { font-size: 0.75rem; }
  .flip-image-back ul { margin: 0; } */
  .interview { width: 100%; }

  .two-bento-box { gap: 1rem; }
  .two-bento-box .box { margin: auto; }
  .two-bento-box ol { 
    margin: auto; 
    padding-left:1rem;
  }

  .dashboard .interview-image-overlay p, .activity-feed p, .dashboard .image-caption {  font-size: 0.75rem; }

  .two-bento-box .flip-image-back, .comp-analysis .flip-image-back { padding: 1.5rem 2rem; }

  .comp-analysis { height: 400px; }
  .comp-analysis-strength-weakness, .iteration-image-container { display: none !important; }
  .competitive-analysis-image { max-width: 100% !important; }
  .competitive-analysis-container { flex-direction: column;}
  .findings-recommendations-container { gap: 3rem;  }
  .findings-container.box { padding-right: 0; }

  p.subheader { margin-bottom: 0.5rem; }
  .list { padding-left: 0; }
  .bb4 .list { padding-left: 1rem; }
  .carousel { padding: 0 3rem 2.5rem; width: 100% !important; }

  .project-overview-container {
    flex-direction: column;
    gap: 2rem;
  }

  .client-overview {
    display: flex;
    gap: 2rem;
  }

  .iteration-container { flex-direction: column; gap: 0; border-bottom: 2px dashed var(--secondary-shadow); margin: var(--img-margin); }

  .team-picture-image { 
    width: 35vw; 
    height: auto;
    aspect-ratio: 2669/3783;
  }

  .reflections {
    gap: 2.5rem;
  }
}

@media only screen and (max-width: 425px) {
  /* mobile */
  .section-bg-color {  padding: 2rem 5% 2rem 20%; }

  .section-regular {
    margin-left: 20%;
    margin-right: 5%;
  }

  .project-context-container { flex-direction: column; }
  .project-context { width: 100%; }
  .div-margin { margin: 2rem auto 3rem; }
  .client-overview { flex-direction: column; }
  .project-overview-container { gap: 0; }
  p.subheader { margin-bottom: 0.5rem; }

  .design-q {
    padding-left: 1.5rem;
    font-size: 1.5rem;
  }

  .bb3 { --gc: span 4; --gr: span 2; }
  .bb2 { --gc: span 4; --gr: span 2; }

  .two-column { 
    flex-direction: column; 
    gap: 1rem;
  }
  
  .column { width: 100% !important; }
  .surveys .bb-box { margin: 1rem 0; }
  .two-bento-box { flex-direction: column; }
  .two-bento-box .box { margin: 0; }

  .findings-recommendations-container { 
    flex-direction: column;
    gap: 0;
    border-top: 2px dashed var(--markup-color);
    margin-top: 3rem; 
  }

  .findings-container { 
    border-bottom: none; 
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .recommendations-container.box {padding: 2rem; }

  .carousel-container button { display: none; }
  .carousel { padding: 0 0 2.5rem 0;}
  .reflections { flex-direction: column; }
  .team-picture-image { width: 75%; }
}