/* Variables */
:root {
    --primary-color: #2a2d34;
    --markup-color: #e4d8f4;
}

.section-regular {
    margin: auto;
    padding: 2rem 0;
}

.section-bg-color {
    padding-top: 6rem;
}

/* Husky Buddy */
h1, h1.case-study-title {
    color: #5D17C1;
}

.project-image-section {
    margin: 0;
    padding: 5rem 0 0;
    background-color: #F6F2FB;
}

.findings-container.box {
    background-color: transparent;
    border-radius: 0; 
    margin-left: 0;
    padding-left: 0;
  }
  
  .recommendations-container.box { 
    border-bottom: none; margin: auto; 
  }

.final-deliverable {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.final-deliverable-image {
    max-height: 600px;
}

.usability-test-finding-container {
    display: flex;
    gap: 5rem;
    padding-right: 5rem;
}

.final-prototype {
    display: flex;
    /* background-color: #E6DDF2; */
    gap: 5rem;
}

.final-design-image-container {
    padding: 1.5rem;
    background-color: #E6DDF2;
    border-radius: 2ch;
}

@media only screen and (max-width: 768px) {
    /* tablet */
    .section-regular { max-width: 75%; }
    .section-bg-color { padding: 5rem 12% 3rem 13%;}

    .findings-recommendations-container { gap: 3rem;  }
    .findings-container.box { padding-right: 0; }

    .final-deliverable { flex-direction: row-reverse;   }
    .final-deliverable-image { max-width: 60vw;}

    .usability-test-finding-container { 
        gap: 2rem; 
        padding-right: 0; 
    }
    .usability-test-findings-image { max-height: 75vh; }
    .usability-test-findings .column { width: 60%; }
    .final-prototype { gap: 2rem; }
}

@media only screen and (max-width: 425px) {
    /* mobile */
    body { overflow-x: hidden; }

    .section-bg-color {  padding: 2rem 5% 2rem 20%; }

    .section-regular {
      margin-left: 20%;
      margin-right: 5%;
    }

    p.subheader { margin-bottom: 0.5rem; }

    /* .findings-recommendations-container { padding-top: 3rem; border-top: 2px dashed var(--markup-color);}
    .findings-container.box { padding: 0; margin: auto;  }
    .recommendations-container.box { margin: 0 0 3rem;  } */
    .findings-recommendations-container { 
        flex-direction: column;
        gap: 0;
        border-top: 2px dashed var(--markup-color);
        margin-top: 3rem; 
    }
    
    .findings-container { 
        border-bottom: none; 
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .recommendations-container.box {padding: 2rem; }

    .project-context-container { flex-direction: column; }
    .project-context { width: 100%; }
    .final-deliverable .column { width: 100% ; }
    .final-deliverable { flex-direction: column; gap: 1rem; }
    .final-deliverable-image { max-width: 95vw; }
    .div-margin { margin: 2rem auto 3rem; }
    .findings-recommendations-container { flex-direction: column; gap: 1rem; }
    .findings-recommendations-container .column { width: 100%; }
    .findings-container { border-bottom: none; padding-bottom: 0; margin-bottom: 0; }
    .usability-test-finding-container { flex-direction: column; }
    .usability-test-finding-container .column { width: 100%; }
    .final-prototype { flex-direction: column; }
    .final-prototype .column {  width: 100%; }
    .final-design-image { width: 70vw; height: auto; aspect-ratio: 1/2; max-height: none; }
    .key-takeaways ul { padding-left: 0; }
}