/* UW CERSE */
:root {
  --primary-color: #2a2d34;
  --markup-color: #dbd8f3;
  --project-color: #332a86;
  --image-background-color: #eef2f8;
  --bg-color: #fafafa;
}

.section-regular {
  margin: auto;
  padding: 2rem 0 2rem;
}

.project-image-section {
  padding: 5rem 0 6rem;
}

.section-bg-color {
  margin: auto;
  padding: 2rem 15% 2rem;
}

/* --------------------------------------------- OVERVIEW SECTION ---------------------------------------------------------------------- */
h1.case-study-title {
  color: var(--project-color);
}

/* --------------------------------------------- IMPACT SECTION ---------------------------------------------------------------------- */
.video-container {
  align-items: center;
}

/* --------------------------------------------- DISCOVERY SECTION ------------------------------------------------------------------- */
.research-goals-list {
  margin: 0rem auto 3rem;
  display: flex;
  gap: 5rem;
}

.research-goal {
  width: 33.33%
}

.column-header {
  font-size: 18px;
  font-weight: var(--bold-font);
  margin-bottom: 0.5rem;
}

.two-img-container {
  display: flex;
  justify-content: space-evenly;
}

.findings-recommendations-container { margin-bottom: 2rem; }
.findings-container.box, .recommendations-container-box { margin: 0; }
.findings-container.box { 
  border-radius: 0; 
  background-color: 
  transparent; 
  padding: 2rem 1rem 3rem 0; 
}

.recommendations-container.box { 
  padding: 2rem; 
  border-bottom: none; 
  background-color: var(--box-color);
  border-radius: 2ch;
  margin: auto; 
  margin-top: 0; 
}

/* .findings-recommendations-container { 
  align-items: center; 
  border-bottom: dashed 1px blue; 
  border-bottom-width: 50%; 
}

.recommendations-container { 
  background-color: var(--image-background-color);
  padding: 2rem; 
  border-bottom: none;
  border-radius: 2ch; 
  margin-bottom: 0; 
}

.findings-container { margin-bottom: 0; padding-bottom: 0; } */

/* 
  flip image
  Source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_image2 
*/
.flip-image {
  background-color: transparent;
  width: 600px;
  height: 375px;
}

.flip-image-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-image:hover .flip-image-inner {
  transform: rotateY(180deg);
}

.flip-image-front {
  position: absolute;
  width: 100%;
  height: 100%;
  width: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
}

.flip-image.interview .flip-image-front {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flip-image-back {
  padding: 2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: var(--image-background-color);
  color: var(--primary-color);
  transform: rotateY(180deg);
  border-radius: 2ch;
  width: 500px;
  height: 375px;
}

.interviews .box {
  padding: 0;
  background-color: transparent;
}


.interview {
  width: 400px;
  height: 420px;
}

.interview-image {
  width: auto;
  height: 400px;
  border-radius: 2ch;
}

div.column {
  width: 50%;
}

/* bento box
Source: https://codepen.io/stoumann/pen/GRzWVjZ
*/
.bento-box {
  display: grid;
  gap: 2ch;
  & > * {
    background: var(--bg, var(--image-background-color));
    border-radius: 2ch;
    color: hsl(215, 75%, 10%);
    container-type: inline-size;
    grid-column: var(--gc, auto);
    grid-row: var(--gr, auto);
    padding: 2ch;
    & h2 {
      margin-block: 0 1ch;
    }
  }
}

.survey-image {
  border-radius: 1ch;
  object-fit: contain;
}

.bento {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bento-hotdog {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.bento-hamburger {
  width: 100%;
  height: 370px;
}

.hotdog {
  height: 95%;
  /* width: 95%; */
}

.hamburger {
  /* min-height: 60%; */
  width: 95%; 
  /* height: 95%; */
}

.competitive-analysis-container {
  display: flex;
  justify-content: center;
  gap: 3rem; 
}

.competitive-analysis-image {
  width: 600px;
  height: auto;
  border-radius: 2ch;
  max-width: 70vw; 
}

.comp-analysis {
  width: 700px;
  height: 500px;
}

/* responsive bento box */
@media (min-width: 768px) {
  .bento-box { grid-template-columns: repeat(7, 1fr); }
  .bb3 { --gc: span 4; --gr: span 2; }
  .bb4 { --gc: span 3; --gr: span 2; }
  .bb1 { --gc: span 3; --gr: span 2; }
  .bb2 { --gc: span 4; --gr: span 2; }
}

/* --------------------------------------------- IDEATION SECTION --------------------------------------------------------------------- */
/* 
  Carousel
  Source: https://getbootstrap.com/docs/5.0/components/carousel/
*/ 
.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  width: 90%;
  max-width: 70vw;
  padding: 0 8rem 4rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}

/* .carousel {
  width: 80%;
  max-width: 70vw;
  height: auto;
}

.carousel-image {
  width: 80%;
  max-width: 70vw;
  height: auto;
} */

.carousel-indicators [data-bs-target] {
  display:inline-block;
  width:16px;
  height:16px;
  margin: 0 4px;
  text-indent:-999px;
  background-color: var(--primary-color);
  border: 1px;
  border-radius:16px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: transparent;
  border: none;
}

.brainstorm-miro-image {
  width: 600px;
  max-width: 70vw;
  border-radius: 2ch;
}

.brainstorm-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.brainstorm-grid > div {
  border-radius: 2ch;
  transition: 50ms ease-in-out;
  /* background-color: #584952;
  border: 1px solid #e892b2; */
  border: 1px solid var(--image-background-color);
  /* width: 325px; */
  /* height: auto; */
  aspect-ratio: 1/1;
}

div .brainstorm-image {
  width: 100%;
  height: auto;
  object-fit: contain; 
  aspect-ratio: 1/1;
  border-radius: 2ch;
}

.brainstorm-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease-in-out;
  background-color: var(--image-background-color);
  border-radius: 1rem; 
  display: flex;
  align-items: center; 
  padding: 1rem; 
}

.brainstorm-idea:hover .brainstorm-overlay {
  opacity: 1;
}

.brainstorm-idea:hover {
  filter: brightness(90%);
}

.brainstorm-overlay-text {
  color: var(--primary-color);
  font-size: 1rem;
  text-align: center;
}

/* --------------------------------------------- ITERATION SECTION ------------------------------------------------------------------- */  
.usability-test {
  padding-left: 2rem;
}

.usability-test-image {
  height: 70vh;
  width: auto;
  max-height: 70vh;
  border-radius: 2ch;
}

.prototype-screen-image {
  width: 100%;
}

/* slider 
  Source: https://www.youtube.com/watch?v=dzqDU9efnnk&t=286s
  Source: https://codepen.io/Coding-in-Public/pen/NWyjZwO
*/
.flex-center-container {
  display: flex;
  justify-content: center;
}

.slider-container {
  /* max-width: 70vw; */
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 2ch;
  --position: 50%;
  /* padding: 0; */
}

.slider-image-container {
  max-width: 70vw;
  max-height: 65vh;
}

.slider-image-container img {
  display: block;
  max-width: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for firefox */
  width: 100%;
  height: 100%;
  padding: 0;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: 0.3rem;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 0;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button i.slider-button {
  position: absolute;
  /* background-color: var(--bg-color); */
  padding: .5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
  color: var(--primary-color);
}

.final-design-image {
  border-radius: 2ch;
  width: 70vw !important;
}


/* --------------------------------------------- REFLECTION SECTION ------------------------------------------------------------------ */
.reflections {
  display: flex;
  gap: 5rem;
}

ul.key-takeaways, ul.next-steps {
  margin-bottom: 3rem;
}

.team-picture-image {
  height: 70vh;
  width: auto;
  max-height: 70vh;
  border-radius: 2ch;
}

/* --------------------------------------------- RESPONSIVE LAYOUT --------------------------------------------------------------------*/
/*changes reflects on screen with a width of 768px and below*/
@media screen and (max-width: 768px) {
  /* tablet */
  .section-regular { max-width: 75%; }

  .section-bg-color { padding: 5rem 12% 3rem 13%;}

  .project-image-section { margin: auto !important; }

  .bb-bento-box { flex-direction: column; }

  .bb-box {  aspect-ratio: auto; }

  .hotdog {
    width: 95%;
    height: auto;
  }

  .flip-image-back { padding: 1.5rem 1rem; }

  .flip-image-back p, .flip-image-back ul, .two-bento-box ol { font-size: 0.75rem; }

  .flip-image-back ul { margin: 0; }

  .interview { width: 100%; }

  .two-bento-box { gap: 1rem; }

  .two-bento-box .box { margin: auto; }

  .two-bento-box ol { 
    margin: auto; 
    padding-left:1rem;
  }

  .two-bento-box .flip-image-back, .comp-analysis .flip-image-back { padding: 1.5rem 2rem; }

  .comp-analysis { height: 400px; }
  .comp-analysis-strength-weakness { display: none; }
  .competitive-analysis-image { max-width: 100% !important; }
  .competitive-analysis-container { flex-direction: column;}

  p.subheader { margin-bottom: 0.5rem; }

  .list { padding-left: 0; }

  .bb4 .list { padding-left: 1rem; }

  .carousel { padding: 0 3rem 2.5rem; width: 100% !important; }

  .project-overview-container {
    flex-direction: column;
    gap: 2rem;
  }

  .client-overview {
    display: flex;
    gap: 2rem;
  }

  .usability-test-image {
    max-width: 70vw;
    height: auto;
    aspect-ratio: 470/440;
  }

  .comp-analysis, .competitive-analysis-image {
    max-width: 70vw;
  }

  .team-picture-image { 
    width: 35vw; 
    height: auto;
    aspect-ratio: 2669/3783;
  }

  .reflections {
    gap: 2.5rem;
  }
}

@media only screen and (max-width: 425px) {
  /* mobile */
  .section-bg-color {  padding: 2rem 5% 2rem 20%; }

  .section-regular {
    margin-left: 20%;
    margin-right: 5%;
  }

  .project-context-container { flex-direction: column; }
  .project-context { width: 100%; }
  .div-margin { margin: 2rem auto 3rem; }
  .client-overview { flex-direction: column; }
  .project-overview-container { gap: 0; }
  p.subheader { margin-bottom: 0.5rem; }

  .design-q {
    padding-left: 1.5rem;
    font-size: 1.5rem;
  }

  .bb3 { --gc: span 4; --gr: span 2; }
  .bb2 { --gc: span 4; --gr: span 2; }

  .two-column { 
    flex-direction: column; 
    gap: 1rem;
  }
  
  .column { width: 100% !important; }
  .surveys .bb-box { margin: 1rem 0; }
  .two-bento-box { flex-direction: column; }
  .two-bento-box .box { margin: 0; }

  .findings-recommendations-container { 
    flex-direction: column;
    gap: 0;
    border-top: 2px dashed var(--markup-color);
  }

  .findings-container { 
    border-bottom: none; 
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .carousel-container button { display: none; }
  .carousel { padding: 0 0 2.5rem 0;}
  .reflections { flex-direction: column; }
  .team-picture-image { width: 75%; }
}