* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat';
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: nowrap;
}
html, canvas {
    display: block;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}
div.instructions {
    margin: 1rem 3rem;
}
