@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #2a2d34;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#nav {
	left: 0%;
	right: 0%;
	background-color: white;
	position: fixed;
	top: -70px;
	display: block;
	transition: top 0.4s;
	box-shadow: 2px 2px 5px #aaaaaa;
	z-index: 1;
}

ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden
}

ul.nav-bar a {
  float: right;
}

ul.nav-bar a.home-link {
  float: left;
}

ul.nav-bar a.active {
  color: #be3455;
  text-decoration: underline
}

ul.nav-bar li a {
  display: block;
  color: #212121;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem
}

ul.nav-bar li a.active:hover {
  color: #d9627e;
}

.nav-bar li a:hover {
	color: #2a2d34;
	transition: 0.5s;
}

.nav-bar li a:hover:after {
    transform: scaleX(1);
}

.nav-bar li a::after {
    display:block;
    content: '';
    border-bottom: solid 3px #d3cbf5;  
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/*

body {
    background-color: white;
    font-family: 'Sofia Sans', sans-serif;
    color: #212121;
}

nav div {
  display: flex;
  gap: 1.9rem;
}

#nav {
	left: 0%;
	right: 0%;
	background-color: white;
	position: fixed;
	top: -70px;
	display: block;
	transition: top 0.4s;
	box-shadow: 2px 2px 5px #aaaaaa;
	z-index: 1;

}

.nav-item:first-child {
	float: left;
	font-weight: 500;
}

*/